@import variables
@import photoStripe
@import navbar

body
  font-size: 18px
  line-height: 140%
  font-family: font-family-sans;
  background: om-butter
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important

.content
  margin-top: 15px
  padding: 15px
  background-color: white

[role="page-container"]
  padding-top: 50px
  overflow: hidden
  @media (max-width: 767px)
    background: om-butter

.home-page
  .social
    position: absolute
  [role="page-container"]
    padding-top: 0px

#photo-container
  width: 100%
  .photo-preview
    position: relative
    display: block
    float: left
    width: 25%
    // padding: 5px
    margin-bottom: 10px
    img
      width: 96%
      height: 100%
    .overlay
      width: 96%
      height: 100%
      background-color: rgba(0,0,0,0.3)
      position: absolute
      top: 0
      left: 0
      text-decoration: none
      color: #fff
      display: none
      .photo-info
        position: absolute
        bottom: 0
        left: 0
        background-color: rgba(0,0,0,0.80)
        width: 100%
        padding: 5px
    &:hover .overlay
      display: block
