font-family-sans ?=  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-family-serif ?=  'Source Serif Pro', 'Times New Roman', Times, Georgia, serif

om-blue ?= #000082
om-dark-blue ?= darken(om-blue, 30%)
om-light-blue ?= lighten(om-blue, 30%)
om-red ?= #ff192d
om-orange ?= #e69822
