font-family-sans ?=  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-family-serif ?=  'Source Serif Pro', 'Times New Roman', Times, Georgia, serif

om-blue ?= #000082
om-dark-blue ?= darken(om-blue, 30%)
om-light-blue ?= lighten(om-blue, 30%)
om-red ?= #ff192d
om-orange ?= #e69822

// color pallette
  om-dark ?= #1E1E2A
  om-magenta ?= #B40A57
  om-grey ?= #9F9498
  om-butter ?= #F5E3CF
  om-skin ?= #EBA38D
