h1 Contact

p Vrei sa contribui sau sa ne dai o sugestie?
p Te rugam, scrie-ne pe adresa 
  a(href="mailto:orasulmemorabil@gmail.com") orasulmemorabil@gmail.com

p Ordinul Arhitectilor din Romania – filiala Bv-Cv-Hr
p str. Sirul Beethoven, nr.2, Brasov (intre Poarta Schei si Poarta Ecaterina, accesul este din spate)
p program: luni-vineri, intre orele 10-15
p Ne poti urmari si pe facebook la Orasul Memorabil

p Coordonatorii proiectului:
p Ovidiu Talos 0726 686 845
p Miruna Stroe 0722 345 740
