.container
  h1 Poze
  
  .well
    h3 Secolul 19
    ol.breadcrumb
      li: a(href="/photos/timeline/1890/") Anii 1890
    h3 Secolul 20
    ol.breadcrumb
      li: a(href="/photos/timeline/1900/") Anii 1900
      li: a(href="/photos/timeline/1910/") Anii 1910
      li: a(href="/photos/timeline/1920/") Anii 1920
      li: a(href="/photos/timeline/1930/") Anii 1930
      li: a(href="/photos/timeline/1940/") Anii 1940
      li: a(href="/photos/timeline/1950/") Anii 1950
      li: a(href="/photos/timeline/1960/") Anii 1960
      li: a(href="/photos/timeline/1970/") Anii 1970
      li: a(href="/photos/timeline/1980/") Anii 1980
      li: a(href="/photos/timeline/1990/") Anii 1990
    h3 Secolul 21
    ol.breadcrumb
      li: a(href="/photos/timeline/2000/") Anii 2000
      li: a(href="/photos/timeline/2010/") Anii 2010
  
  #photo-container

  #photo-loading
    i.fa.fa-spinner.fa-spin
