doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title Orașul Memorabil - Brașov
    meta(name="description", content="")
    meta(name="keywords", content="fotografii, poze, Brașov, orașul memorabil, arhitectură, case, panorame, poze vechi, fotografii vechi, foto, proiect cultural")
    meta(property="og:title", content="Orașul Memorabil - Brașov")
    meta(property="og:image", content="/assets/img/sigla-OM-negru.png")
    meta(property="og:site_name", content="Orașul Memorabil - Brașov")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://orasulmemorabil.ro")
    meta(property="og:locale", content="ro_RO")
    meta(property="og:description", content="Proiect cultural de actualitate dedicat orasului Brasov, cea mai mare bază de date de fotografii vechi și noi.")
    //- Google

    meta(name="google", content="notranslate")
    //- twitter
    //- <meta name=”twitter:card” content=”summary”>
    meta(name="twitter:url", content="http://orasulmemorabil.ro")
    meta(name="twitter:title", content="Orașul Memorabil - Brașov")
    meta(name="twitter:description", content="Proiect cultural de actualitate dedicat orasului Brasov, cea mai mare bază de date de fotografii vechi și noi.")
    meta(name="twitter:image", content="/assets/img/sigla-OM-negru.png")
    //- canonical url
    link(rel="canonical", href="http://orasulmemorabil.ro")
    //- favicon
    link(rel="shortcut icon", href="/assets/img/icons/favicon.ico")
    link(rel="apple-touch-icon", sizes="57x57", href="/assets/img/icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/assets/img/icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/assets/img/icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/assets/img/icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/assets/img/icons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/assets/img/icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/assets/img/icons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/assets/img/icons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/icons/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/assets/img/icons/favicon-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/assets/img/icons/favicon-160x160.png", sizes="160x160")
    link(rel="icon", type="image/png", href="/assets/img/icons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/assets/img/icons/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/assets/img/icons/favicon-32x32.png", sizes="32x32")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/assets/img/icons/mstile-144x144.png")


    //- NB: The following semantic comments are used by 'useref' and 'wiredep'
    //- node packages to automatically do their job. See their
    //- GitHub pages for details. Don't delete unless you know what you are doing.

    // build:css({app,.tmp,dist}) /css/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.css')
    // endbower
    link(rel='stylesheet', href='bower_components/lightbox/css/lightbox.css')
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    // build:js({app,.tmp,dist}) /js/main.js
    // bower:js
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/lightbox/js/lightbox.js')
    script(src='bower_components/get-style-property/get-style-property.js')
    script(src='bower_components/get-size/get-size.js')
    script(src='bower_components/eventie/eventie.js')
    script(src='bower_components/doc-ready/doc-ready.js')
    script(src='bower_components/eventEmitter/EventEmitter.js')
    script(src='bower_components/jquery-bridget/jquery.bridget.js')
    script(src='bower_components/matches-selector/matches-selector.js')
    script(src='bower_components/outlayer/item.js')
    script(src='bower_components/outlayer/outlayer.js')
    script(src='bower_components/masonry/masonry.js')
    script(src='bower_components/imagesloaded/imagesloaded.js')
    // endbower
    script(src="js/main.js")
    // endbuild
