.footer
  .container
      p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
      //- p.small &copy; 2009-2014 orasulmemorabil.ro
