//- - var bgNow = heroes[Math.floor(Math.random() * heroes.length)];

.photoStripe
  .imgBack(style="background-image: url('#{hero.url}')")
  .overlay.text-center
    .callout
      span Orașul memorabil
      h4 #{hero.title}
    //- .hotlinks
    //-   a(href="/sustinatori/testimoniale-video/") cine mă susține
    //-   a(href="/despre/20-de-motive-sa-votezi-macovei/") 20 de motive
    //-   //- a.live(href="#") transmisie live 
    //-   //-   span.strong &bull;
    //-   a(href="/program-politic/") programul politic
    //-   a(href="/voteaza-pozitia-11/") votează 11
    //- .facebook-iframe.hidden-xs
    //-   iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2orasul.memorabil&layout=button_count&action=like&show_faces=true&share=true&height=20&locale=en_US', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 150px; height: 20px', allowtransparency='true')
    //- .hotlinks
    //-   a(href="#") Facebook oficial
    //- .chevron-div.hidden-xs
    //-   .container
    //-     div
    //-       .chevron
    //-           .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9a
    //-             .hi-icon
    //-               i.fa.fa-chevron-down.fa-2x
